:root{
    /*colores menu*/
    --colorMenuNormal: rgb(132, 0, 255);
    --colorMenuHover: rgb(79, 0, 136) ;
    --colorBordeMenu: rgb(46, 1, 78);
    --colorIconoMenu:rgb(83, 83, 83);
    --colorSombraIconoMenu: rgb(36, 35, 37);
    --colorTextoMenu:white;

    /*colores cuerpo*/
    --colorParrafos: white;
    --colorSubtitulos:white;
    --colorTituloPagina:white;
    --colorPaginaCompleta:orange;
    --colorSeccionInicio: rgb(158, 134, 0);
    --colorSeccionProductos: rgb(150, 97, 0);
    --colorSeccionContactos: rgb(148, 71, 0);
    --colorSeccionUbicanos: rgb(173, 49, 0);
    --colorSeccionSocios: rgb(153, 18, 0);
    --colorPieDePagina: rgb(61, 61, 61);
    --colorTextoPieDePagina: rgb(126, 42, 42);

    /*colores formulario y barra redes Sociales*/
    --color_1Desgradado: blue;
    --color_2Desgradado: green;
    --colorSombraFormulario:black;
    --colorBtnNormal: blue;
    --colorBtnOver:green;
    --colorFondoRedesSociales:blue;
    --colorSombraRedesSociales:black;
    
    /*colores tarjetas seccion productos*/
    --colorFondoTarjeta:gray;
    --colorBordeTarjeta:black;
    --colorTituloTarjeta: white;
    --colorFondoTituloTarjeta:black;
    --colorComentarioTarjeta: white;
    --colorFondoComentarioTarjeta:rgb(104, 104, 0);
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
}

#ContenedorPagina{
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    padding:0;
    background: blue;
}
header{
    margin-top:3.12rem;
    width:100%;
    background:url(../img/imgHeader.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
}
header h1{
    margin: 0rem 0rem 5% 2rem;
    display:inline-block;
    color:var(--colorTituloPagina);
    font-size:2rem;
    text-shadow: 0px 5px 10px white;
}
header img{
    margin-top:5%;
    margin-left:8%;
    width: 9rem;
    height: 9rem;   
}
.iconoMenu{
    
    display:none;
}

nav{
    top:0;
    position:fixed;
    max-width: 1200px;
    width: 100%;
    
}
nav ul{
    overflow:hidden;
    background:var(--colorMenuNormal);
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    float: left;
}
nav ul li a{
    color: var(--colorTextoMenu);
    font-size: 1rem;
    display:block;
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-weight: bold;
}
nav ul li a:hover{
    background:var(--colorMenuHover);
}
#inicio, #productos, #contactos, #ubicanos, #socios{
    width: 95%;
    min-height: 540px;
    height: auto;
    padding: 1% 2.5%;
    padding-bottom: 3%;
}
#inicio{

    background: var(--colorSeccionInicio);
}
#inicio img{
    width: 350px;
    height: 450px;
    float: left;  
    margin-right: 2rem;
    margin-bottom: 1rem;
    box-shadow: 5px 10px 15px black;
}
#inicio img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 500ms;
    border-radius: 20px;
}
h2{
    margin-top: 2rem;
    text-align: center;
    color:var(--colorSubtitulos);
}

p{
    font-size: 1.5rem;
    text-align: justify;
    color:var(--colorParrafos);
}
#productos{
    background: var(--colorSeccionProductos);

}
.galeria{
    width: 320px ;
    height: 550px;
    background: var(--colorFondoTarjeta);
    display: inline-block;
    margin-left: 3.3% ;
    border: 1px solid var(--colorBordeTarjeta);
    margin-top: 1.5rem;
    box-shadow: 2px 5px 15px;
    border-radius: 1px 50px 1px 1px;
}
.galeria img{
    width: 80%;
    height: 65%;
    margin: 10% 5% 0% 10%;
    transition: 500ms;
}
.galeria img:hover{
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    border-radius: 20px;
}
.galeria h3{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    background: var(--colorFondoTituloTarjeta);
    color:var(--colorTituloTarjeta);
}
.galeria p{
    font-size: 1rem;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    text-align: justify;
    background: var(--colorFondoComentarioTarjeta);
    color:var(--colorComentarioTarjeta);
}
#contactos{
    background: var(--colorSeccionContactos);
    
}
#contactos form{
    max-width: 700px; 
    width: 80%;
    height: 60%;
    background: linear-gradient(var(--color_1Desgradado), var(--color_2Desgradado));
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 5px 15px var(--colorSombraFormulario);
    border-radius: 3px;
    overflow: hidden;
}
form h2{
    padding-top: 10px;
}
.izquierda{
    float: left;
    width: 43%;
    height: auto;
    margin-left: 5%;
}
.derecha{
    float: right;
    width: 43%;
    margin-right: 5%;
    height: auto;
}
#contactos form div input{
    display:block;
    width: 100%;
    height: 1.2rem;
    padding: 0.3rem;
    outline: none;
}
#contactos form div input[type="tel"], form div input[type="email"]{
    margin-top: 6%;
}
#contactos form textarea{
    width: 100%;
    max-height: 128px;
    min-height: 128px;
    max-width:100%;
    min-width: 90%;
    outline:none;
}
#contactos form input[type="submit"]{
    width: 70%;
    margin-left: 16%;
    margin-top: 3%;
    margin-bottom: 5%;
    height: 5%;
    background: var(--colorBtnNormal);
}
#contactos form input[type="submit"]:hover{
    background: var(--colorBtnOver);
}
#redesSociales{
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    max-width: 700px;
    max-height: 150px;
    box-shadow: 0px 5px 10px var(--colorSombraRedesSociales);
    background:var(--colorFondoRedesSociales);
    border-radius: 0px 0px 5px 5px;
    opacity: 0.5;
    transition: 500ms;
}
#redesSociales:hover{
    opacity: 1;
}
#redesSociales a img{
    margin-top: 0.5rem;
    margin-left: 13.4%;
    width: 15%;
    height: auto;
    -webkit-transform: scale3d(1.2);
    transform: scale3d(1.2);
    transition: 500ms;
    opacity: 0.8;
}
#redesSociales a img:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}
#ubicanos{
    background: var(--colorSeccionUbicanos);
}
#ubicanos div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#ubicanos div iframe{
    width: 100%;
    height: 700px;
    box-shadow: 3px 5px 15px black;
}
footer{
    width: 100%;
    height: auto;
    background: var(--colorPieDePagina);
}   
footer h5{
    text-align: center;
    padding: 3rem 0rem;
    color:var(--colorTextoPieDePagina);
}

#socios{
    background: var(--colorSeccionSocios);
}
/*ajustes de pantalla*/
@media only screen and (max-width:1080px){
    .galeria{
        margin-left: 8% ;        
    }
}
@media only screen and (max-width:800px){
    #ContenedorPagina{
        margin-top: 5rem;
        overflow: hidden;
    }
    header{
        margin-top:0;
        float: left;
        overflow: hidden;
    }

    .iconoMenu{
        width: 100%;
        height: 5.2rem;
        box-shadow: 0px 3px 10px;
        padding-top: 0.2rem;
        border-radius: 0.1rem;
        display: block;
        float: left;
        background: var(--colorMenuNormal);
    }
    .iconoMenu li{
        list-style: none;
        display: block;
        width: 3.5rem;
        background: var(--colorBordeMenu);
        padding: 0.2rem 0rem;
        margin-top: 0.6rem;
        margin-left:3rem;
        border-radius: 0.1rem;
        box-shadow: 0px 2px 7px var(--colorSombraIconoMenu);
    }
    
    nav{
        width: 100%;
        height: 5rem;
        overflow: hidden;
    }
    nav:hover{
       
        height: 19rem;
    }
    nav ul{
        float: left;
        display: block;
        width:70%;
    }

    nav ul li{
        float:none;
        display: block;
        width: 100%;
    }
    nav ul li a{
        font-size: 1rem;
        display:inline-block;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        padding: 0;
        width: 12.5rem;
        height: 1rem;
        padding-top:0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 15%;
        padding-right: 43%;
        border-top: 1px var(--colorBordeMenu) solid;
    }
    .configuracion{
        margin-top:15rem;
    }
    
    .galeria {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .izquierda{
        float:none;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .derecha{
        float:none;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #contactos form div input{
        width: 95%;
    }
    #contactos form div textarea{
        margin-top: 6%;
        width: 98.5%;
    }
    #ubicanos div{
        width: 98%;
    }
    
}
@media only screen and (max-width:480px){
    header img{
        display:none;
    }
    header{
        height: 9rem;
    }
    header h1{
        line-height: 9rem;
        margin-left: 10%;
    }
    .configuracion{
        margin-top:10rem;
    }
    #inicio img{
        float: none;
        margin-left: 5%;
    }
    
}
